#contact {
  padding: 10rem 0;
  color: $white-color;

  a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
  }

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 2.5rem;
    }
  }

  .form-container {
    padding-top: 4rem;
    text-align: left;
    font-size: 1.3rem;

    .input-field {
      background-color: $secondary-color;
      color: $white-color;
      border: none;
      font-size: 1.3rem;
    }

    .form-group {
      margin-bottom: 3rem;
      @include respond(phone) {
        margin-bottom: 2rem;
      }
    }
  }

  .contact-btn {
    font-size: 1.3rem;
    cursor: none;
  }
}
