.sticky {
  position: sticky;
  top: 0;
  z-index: 100; /* this is optional and should be different for every project */
}

header {
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: 30px 60px 20px;
  transition: background-color 0.5s ease-in-out;

  // &:hover {
  //   background-color: rgba(255, 255, 255, 0.05);
  // }
  @media screen and (max-width: 800px) {
    display: none;
  }

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      letter-spacing: 1px;
      color: #fff;
      font-size: 1.6rem;
    }
    nav {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        li {
          list-style: none;
          margin: 0 45px;
          &.btn {
            a {
              color: #fff;
              font-weight: 600;
              background: #23232a;
              padding: 16px 24px;
              border-radius: 10px;
            }
          }
          p {
            text-decoration: none;
            color: #fff;
            cursor: pointer;
          }
          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
}
