#technologies {
  background-color: #4e4e4e;
  color: $white-color;
  text-align: left;

  @include respond(phone) {
    text-align: center;
  }

  @include respond(tab-port) {
    text-align: center;
  }

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .list-label {
    font-weight: 700;
    padding-bottom: 1rem;
  }

  .technologies-wrapper {
    // margin-top: 3.2rem;
    padding: 3rem 0 1rem;
    backface-visibility: hidden;

    p {
      margin-bottom: 3rem;
    }

    &__text {
      margin-bottom: 2.5rem;
    }

    &__text,
    a {
      font-size: 2.4rem;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
